.trainerInfo {
  display: table;
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
}

.btnPad {
  padding-bottom: 20px;
}

.trainerImg {
  display: table-cell;
  height: 300px;
  margin: auto;
  position: relative;
  vertical-align: middle;
}

.trainerName {
  vertical-align: middle;
}

.chatBtn {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
  padding: 5px 10px !important;
  border: none;
}

.chatBtn.btn-learn {
  border-radius: 5px;
  color: #fff;
  background: #9870FC;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #4569f9 0%, #3e61ed 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #4569f9 0%, #3e61ed 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(45deg, #4569f9 0%, #3e61ed 100%);
  background: linear-gradient(45deg, #4569f9 0%, #3e61ed 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4569f9', endColorstr='#3e61ed', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}

.trainerInfo p {
  display: inline-block;
  padding: 10px;
}

.filterP {
  display: table;
  margin: 0 auto;
}

.trainer-filter {
  list-style: none;
  padding: 0;
}
.trainer-filter li {
  padding: 0px;
  margin: 35px;
  display: inline-block;
  color: #000000;
  border-bottom: 2px solid;
  border-color: transparent;
  font-weight: 400;
  text-align: center;
  transition: all ease 0.4s;
}

.trainer-filter li.active {
  color: #0851e2;
  border-color: #4a73d4;
}

.trainer-filter li a {
  border-radius: 0;
  font-size: 18px;
  font-weight: 300;
  padding: 0 25px;
  border: none;
  text-align: left;
}

.trainer-filter li a:hover,
.trainer-filter li a:focus {
  background: transparent;
  box-shadow: none;
}
