.signUpForm {
  position: absolute;
  height: auto;
  z-index: 15;
  top: 350px;
  left: 48%;
  margin: -100px 0 0 -150px;
  padding: 0 0 10px;
  background-color: rgba(121, 162, 242, 0.5);
  width: 450px;
}

#form-message {
  position:relative;
  left: 28%;
  margin-top: 20px;
  margin-bottom: 10px;
}

#form-message a {
  position: relative;
  font-size: 30px;
  font-weight: 300;
  color: white;
}

.ant-form-item {
  margin: 0 0 15px;
}

.input-field label {
  font-size: 16px;
  margin-left: 5px;
}

.input-field Input {
  font-size: 16px;
  width: 75%;
}

.ant-btn.register-btn.ant-btn-primary {
  position: relative;
  margin-top: 5px;
  left: 10%;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  padding: 0 20px !important;
  border: none;
  color: #fff;
  background: #9870FC;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #4569f9 0%, #3e61ed 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #4569f9 0%, #3e61ed 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(45deg, #4569f9 0%, #3e61ed 100%);
  background: linear-gradient(45deg, #4569f9 0%, #3e61ed 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4569f9', endColorstr='#3e61ed', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}

.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}
